<h1><%= t("activerecord.attributes.article.article_index") %></h1>
<div class="row">
  <div class="col-md-10 col-md-offset-1 mx-auto">
    <table class="table table-hover" id="table-articles">
      <thead>
        <tr>
          <th><%= Article.human_attribute_name :title %></th>
          <th><%= Article.human_attribute_name :content %></th>
          <th><%= Article.human_attribute_name :image %></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= @article.title %></td> 
          <td><%= @article.content %></td>
          <%
=begin%>
 <% if @article.image.attached? %>
            <td><%= image_tag @article.image %></td>
          <% end %> 
<%
=end%>
					<td>
						<%= link_to t("activerecord.attributes.article.edit"), "#", class: "btn btn-primary" %>
						<%= link_to t("activerecord.attributes.article.delete"), "#", class: "btn btn-danger" %>
					</td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
