<p><%= t('.greeting', recipient: @email)%></p>
<%
=begin%>
 <p>Welcome <%= @email %>!</p> 
<%
=end%>

<%
=begin%>
 <p>You can confirm your account email through the link below:</p> 
<%
=end%>
<p><%= t('.instruction') %></p>
<p><%= link_to t('.action'), confirmation_url(@resource, confirmation_token: @token) %></p>
<%
=begin%>
 <p><%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token) %></p> 
<%
=end%>
